*{
	font-family: 'Lobster', cursive;
	font-weight: 100;
	font-size: 30px;
}

.caja{
	width: 200px;
	height: 200px;
	background: red;
	margin: auto;
	outline: 10px solid blue;
	box-sizing: content-box
}

.caja1{
	width: 200px;
	height: 200px;
	background: yellow;
	margin: auto;
}


